@import "main-nav-bar.css";
@import "home-page.css";
@import "main-mail.css";
@import "main-note.css";

@font-face{
    font-family: fira;
    src: url(/assets/fonts/FiraSans-Regular.ttf);
}
@font-face{
    font-family: fira-bold;
    src: url(/assets/fonts/FiraSans-Medium.ttf);
}
@font-face{
    font-family: josefin;
    src: url(/assets/fonts/JosefinSans-Regular.ttf);
}


*{
    box-sizing: border-box;
}

body{
    font-family: fira;
    margin: 0;
    /* background-color: bisque; */
}