/* 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */


*{
    box-sizing: border-box;
}

.note-app{
    position: relative;
    /* display: flex; */
}






.note-video{
    border: #858181 1px solid;
    padding-top: 10px;
    margin-top: 5px;
    position: relative;
    /* width: 500px; */
    object-fit: contain;

}
/* optional the flex */
.note-add{
    /* width: 980px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color:lightblue;
    padding: 20px; 
}
.billboard{
    display: flex;
    text-align: center;
    margin:0 auto;
    max-width: 980px;
    align-items: center;
    justify-content: center;

}
/* .type-btn{
    display: flex;
    color: blue;
    background-color: rgb(218, 21, 21);
} */
.note-add h2{
    padding-right: 10px;
    /* font-size: 20px; */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* left: 0; */

}
.note-add input {

    padding: 10px;
    width: 600px;
    border-radius: 20px;
}
.note-add button{
    padding: 10px 5px;
}
.note-text{
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    padding: 20px;
}

.note-img{
    border: #858181 1px solid;
    padding-top: 10px;
    margin-top: 5px;
    position: relative;
    /* width: 500px; */
    object-fit: contain;
    
}
.color-palet{
    height: 10px;
    font-size: 10px;
}
.color-palet:hover{
    cursor: pointer;
}

.note-actions{
    display: flex;
    flex-direction: row;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;

    /* padding-bottom: 10px; */
    /* background-color: lightblue; */
}
.note-actions:hover{
    cursor: pointer;
}
.delete-cmp{
    position: absolute;
    height: 18px;
    /* color: lightcoral; */
    left: 0;
    bottom: 0;
    /* padding: 5px; */
}
li{
    list-style: none;
}
.note-todo{
    /* width: 500px; */
    border: #858181 1px solid;
    position: relative;
    padding-top: 10px;
    margin-top: 5px;
    /* text-align: center; */
}
.completed{
    text-decoration: line-through;
}

.type-btns{
    background-color: lightblue;
    padding: 10px;
}
.type-btns:hover{

    cursor: pointer;
}

.note-container{
    display: flex;
    /* height: 100%; */
    max-width: 1040px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-self: center;


}

.note-text.item:hover , .note-img.item:hover
.note-video.item:hover,.note-todo.item:hover{

    transform: scaleY(0.95);
    border: solid black 2px;
}


/* helper mansonry */
.masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1.5em;
    padding-top: 20px;
    font-size: 1.2rem;
}

.masonry .item {
	transition: 0.3s;
	border: 1px solid rgb(138, 139, 139);
	/* border-style: solid; */
    /* box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30); */
}

.item {
	/* break-inside: avoid-column; */
	break-inside: avoid;
	/* break-inside: avoid-page; */
	background: #fff;
	padding: 1em;
	margin: 0 0 1.5em;
	border-radius: 2px;
	/* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12); */
}

img, iframe {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.note-filter{
    display: flex;
    background-color: lightblue;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(138, 139, 139);
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    background-color:lightblue;
}
.search-input{
    border-radius: 10px;
    padding: 5px;
}
.search-select{
    border-radius: 3px;
}
.inputs{
    position: relative;
}
@media only screen and (min-width: 1400px) {
	.masonry {
		column-count: 5;
    }
    .note-add input {
        width: 600px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
	.masonry {
        column-count: 4;
    }
    .note-add input {
        width: 400px;
    }
    
}

@media only screen and (min-width: 680px) and (max-width: 1023px) {
	.masonry {
		column-count: 3;
    }
    .note-add input {
        width: 250px;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 680px) {
	.masonry {
		column-count: 2;
    }
    
    .note-add input {
        width: 200px;
    }
    .billboard{
        display: inline;
    }
    .billboard h2{
        display: none;
        
    }
    .type-btns{
        /* display: flex; */
    }
    .note-filter{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 200px) and (max-width: 399px) {
    .masonry {
        column-count: 1;
    }
    .billboard h2{
        display: none;   
    }
    
    .note-add input {
        width: 250px;
    }
    .note-add{
        /* width: 980px; */
        display: flex;
        align-items: left;
        justify-content: space-around;
        flex-direction: row;
        /* background-color: rgb(243, 207, 194); */
        padding: 5px;  
    }
    .billboard{
        display: inline;
    }
    .type-btns{
        height: 40px;
    }
    .note-filter{
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .search-select{
        padding: 5px;
        border-radius: 10px;
    }
}
