
/* .app-header{ */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* color: rgb(192, 187, 180); */
    /* margin: 0px; */
    /* width: 100%; */
    /* height: 100px; */
    /* justify-content: space-evenly; */
/* } */

.app-header{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #292929;
    text-align: center;
    
}
.hamburger{
    display:none;
}
.header-container h2{
    /* flex-basis: 50%; */

}
.header-container-link{
    /* justify-content: flex-end;
    flex-basis:100%; */
    position: absolute;
    right: 0;
    padding: 50px;
}

.app-header a{
    margin: 0 auto;
    padding: 50px;
    color: white;
    text-decoration: none;
}
.logo{
    position: absolute;
    left: 10px;
    font-size: 2rem;
    
}

@media (max-width: 690px) {
    .header-container-link{
        padding: 10px;
    }
    .app-header a{
        padding: 15px;
    }
    
}